*.o
tridiagtest
emsquare2d
dump*
*.dSYM
CMakeCache.txt
Makefile
CMakeFiles
cmake_install.cmake
*.png
*.gif
*timing*
herp
msgs
vgout
*~
*.err
*.out
emsquare2d-strong
emsquare2d-strong-large
multitridiagtest
.DS_Store
machines
